body{
    background-color: aqua;
}

.container{
    background-color: blue;
    width: 50%;
    height: 90vh;
    margin: 2% auto;
    padding: 14px;
    overflow: auto;
}

.todoList{
    margin: 0%;
    padding: 0%;
}

.todoList li{
    background-color: darkorange;
    list-style-type: none;
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    
}

.todo{
    flex: 2;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
}